.services {
    position: relative;
    overflow: hidden; /* Hide overflow from section boundaries */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    color: black;
    z-index: 100;
    opacity: 0.1;
    transform: translateY(10%) scale(1.2); /* Adjust the transformation as needed */
}

.container {
    position: relative;
    z-index: 100;
}


@media (min-width: 992px) {
    .eat-features {
        margin-left: 42px;
    }
}

@media (min-width: 992px) {
    #feature_class {
       display: flex;
       gap:10px
    }
}

@media (min-width: 992px) {
    #mobileview {
      grid-row: auto
    }
}



